body {
    background-color: grey;
}

.navbar-container {
    background-color: #333;
}

.ul-navbar {
    background-color: yellowgreen;
    width: 500px;
    height: 100px;
}

.li-navbar {
   border: 1px solid black;
   list-style-type: none;
}


